body {
  font-family: Arial;
  margin-left: 30%;
  margin-right: 30%;
}

#main-heading {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
  margin-right: 30%;
}

#todo-input, #todo-date {
  font-size: 15px;
  padding: 10px 5px;
}

.btn-delete {
  background-color: rgb(226, 48, 48);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}

.btn-todo {
  background-color: rgb(30, 172, 47);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}