body {
  font-family: Arial;
  margin-left: 30%;
  margin-right: 30%;
  justify-items: center;
  margin-top: 50px;
  
}

.container{
  border: 3px solid black;
  border-radius: 15px;
  justify-items: center;
  background-color: #dcffff;
  width: 600px;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 100px;;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  
}

#todo-input, #todo-date {
  font-size: 15px;
  padding: 10px 5px;
}

.btn-delete {
  background-color: rgb(218, 50, 44);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 0px;
  cursor: pointer;
}

.btn-todo {
  background-color: rgb(57, 124, 212);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 0px;
  cursor: pointer;
}